{% extends "base.html" %}

{% block title %}Analysis{% endblock %}

{% block content %}
<h1 class="text-center">Результат анализа</h1>
{% for filename, label in plots_and_files %}
<div class="text-center mb-5">
    <img src="{{ url_for('download', filename=filename) }}" class="img-fluid" alt="{{ label }}">
    <p>{{ label }}</p>
    <a href="{{ url_for('download', filename=filename) }}" class="btn btn-primary mt-2">Скачать {{ label }}</a>
</div>
{% endfor %}
<a href="/" class="btn btn-secondary mt-3">Назад</a>
{% endblock %}
